#header{
    font-size: 47px;
    font-weight: 500;
    font-family: Verdana;
  }

#background{
  background-image: url(running-person.png);
  background-size: contain;
  min-height: 100vh;
}

#indicator{
  background-color: rgb(0, 255, 213);
}

.center{
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: inherit;
  }

.ellipse {
  position: absolute;
  background-color: #B892D7;
  border-radius: 35%;
}

.rectangle {
  position: absolute;
  background-color: #B892D7;
}

.dingsl-left {
  width: 53vw;
  height: 7vh;
  border-bottom-right-radius: 35%;
  border-top-right-radius: 35%;
  align-self:flex-start;
  padding: 1.8vh 0px 0px 3vw;
}

.dingsl-right {
  width: 53vw;
  height: 7vh;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  align-self:flex-start;
  text-align: right;
  padding: 1.8vh 3vw 0px 0px;
}

.text {
  position: relative;
  font-size: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.Pcontainer {
  width: 100%;
  height: fit-content;
  }

.header {
  width: inherit;
  height: 155px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  }

.dingsl-space{
  padding: 5vh 0px 140px 0px;
}

.dingsl-button:hover{
  background-color: aquamarine;
}

.yeah{
  margin: 3vh 0px 3vh 0px;
}

input{
  width:80vw;
  height: 5vh;
  font-size: 4vh;
  background-color:#cfb3e6 ;
  border: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 30vh;
  width: 86vw;
}